/* Initialisation */

:root {
    --success: #3A5C;
    --danger: #C33C;
    --info: #80808080;
    --text: black;
    --text-soft: #777;
    --background: white;
    --background-soft: #EEE;
    --background-red: #B21E2E;
    --resalib: #5ad4db;
    --resalib-soft: #5ad4db88;
    --shadow: #0005;
}

@font-face {
    font-family: "Nunito";
    src: url("../../public/fonts/nunito.woff2") format("woff2");
    font-display:swap;
}

/* General */

body {
    background-color: var(--background);
    background-image: url("../../public/images/america.png");
    background-size: contain;
    background-repeat: repeat-y;
    background-attachment: fixed;
    color: var(--text);
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
    color: var(--text);
}

h1.bg,h2.bg,h3.bg,h4.bg,h5.bg,h6.bg {
    background-color: var(--background);
    padding: 10px;
    box-shadow: 0 0 10px -5px black;
    border-radius: 16px;
}

h1 {font-size: 2em;}
h2 {font-size: 1.75em;}
h3 {font-size: 1.5em;}
h4 {font-size: 1.25em;}
h5 {font-size: 1em;}
h6 {font-size: 0.75em;}

.score-container {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 14%;
    background-color: var(--background);
    box-shadow: 0 0 10px -5px black;
    border-radius: 16px;
}

.score {
    text-align: left;
    font-size: 1.2em;
    line-height: 1.2em;
}

.score.left {
    display: inline-block;
    width: 45%;
    margin: 5px 0 5px 5%;
}

.score.right {
    display: inline-block;
    width: 45%;
    text-align: right;
    margin: 5px 5% 5px 0;
}

.score.title {
    text-align: center;
    border-bottom: 2px solid black;
    margin: 10px 0 10px 0;
    padding-bottom: 10px;
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row-container {
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Buttons */

.btn-success {
    background-color: var(--success);
}

.btn-danger {
    background-color: var(--danger);
}

.btn-info {
    background-color: var(--info);
}

/* Sticky buttons bar */

.sticky-bar {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 50px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
}

.sticky-bar button, .sticky-bar a {
    background-color: var(--background);
    color: black!important;
    cursor: pointer;
    border: solid 2px var(--background);
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    border-radius: 16px;
    padding: 10px 20px;
    box-shadow: 0 0 10px -5px black;
    margin: 0 10px 0 10px;
    transition: background-color 0.3s, color 0.3s;
}

.sticky-bar button:active, .sticky-bar a:active {
    background-color: var(--text);
    color: var(--background)!important;
}

.sticky-bar button:disabled {
    background-color: var(--background-soft);
    border: solid 2px var(--background-soft);
    color: var(--text-soft)!important;
}

.sticky-bar.no-nav {
    bottom: 30px;
}

.sticky-bar-space {
    height: 75px;
}

/* Boxes */

.box-container {
    margin: 10px 0px;
    text-align: center;
    border: 2px solid var(--text);
    border-radius: 8px;
    padding: 3px;
    background-color: var(--background);
    min-width: 150px;
}

.box-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.box-text {
    margin: 3px;
    font-size: 1.1em;
    color: var(--text);
}

/* Separators */

.small-hr {
    width: 300px;
}

.text-hr {
    width: 300px;
    text-align: center;
    border-bottom: 1px solid var(--text);
    line-height: 0.1em;
    margin: 25px 0 25px 0;
}

.text-hr span {
    background: var(--background);
    border-radius: 50px;
    padding: 0 10px;
}

/* Map */

.top-element, .middle-element, .bottom-element {
    box-shadow: 0 0 10px -5px black;
    width: 90%;
    text-align: center;
    color: var(--background);
    background-color: var(--text);
}

.top-element.title, .middle-element.title, .bottom-element.title {
    padding: 10px 0;
    font-size: 1.2em;
}

.top-element.text, .middle-element.text, .bottom-element.text {
    padding: 0 10px 10px 10px;
    box-sizing: border-box;
    font-size: 1em;
    text-align: justify;
    line-height: 1.5em;
}

.top-element {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.bottom-element {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

/* Modals */

.modal {
    background: var(--background-soft);
    color: var(--text);
    padding: 20px;
    border: 2px solid var(--text);
    border-radius: 8px;
    width: 400px;
    max-width: 75%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
}

.modal-overlay {
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-button {
    text-align: center;
    margin-block-end: 0;
    cursor: pointer;
    border: 2px solid var(--text);
    border-radius: 8px;
    padding: 2px;
}

.modal-input {
    text-align: center;
    border: 1px solid var(--text);
    border-radius: 4px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

.no-scroll {
    overflow: hidden;
}